.eager-vimeo {
  display: block;
}

.eager-vimeo > iframe {
  display: none;
  margin: 0 auto;
  max-height: 315px;
  max-width: 560px;
}

.eager-vimeo[data-state="loaded"] > iframe {
  display: block;
}
